gunicorn==20.0.4
waitress==1.4.4
click==7.1.2
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
numpy==1.19.4
opencv-python-headless==4.2.0.32
Pillow==8.0.1
Werkzeug==1.0.1
Flask-WTF==0.14.3
WTForms==2.3.3