certifi==2020.11.8
chardet==3.0.4
fastapi==0.61.2
h11==0.11.0
idna==2.10
numpy==1.19.4
opencv-python-headless==4.4.0.46
Pillow==8.0.1
pydantic==1.7.2
python-multipart==0.0.5
requests==2.25.0
six==1.15.0
starlette==0.13.6
urllib3==1.26.2
uvicorn==0.12.3
